body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}


header {
  background: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 500px;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  margin: 20px 0;
  color: #555;
}


button {
  background: #5970ff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}


input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h3 {
  margin: 10px 0;
}

.small {
  font-size: 12px;
  color: gray;
}